@{
    ViewBag.Title = "Create Advertisment";
}
<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="utf-8">
   <title>Create Advertisment</title>
   <link rel="stylesheet" href="~/css/style-create.css">
</head>

<body>
 <form asp-action="Create" asp-controller="ProfilePage" method="post" enctype="multipart/form-data">
    @if(ViewBag.ErrorMsg!=null)
    {
        <p>
            <label style="font-size:16px; color:deepskyblue">@ViewBag.ErrorMsg</label>
        </p>
    }
    <p>
        <label>Описание</label>
        <input name="Description" class="form-control" />
    </p>
    <p>
        <label>Ссылка</label>
        <input name="UrlTo" class="form-control" />
    </p>
    <p>
        <label>Изображение</label>
        <input type="file" name="image" accept="image/*,video/*" class="form-control" title="Размер изображения должен быть не меньше 450x450. Оно должно быть квадратным"/>
    </p>
    <p>
        <input type="submit" value="Оплатить и опубликовать" class="btnclass" />
    </p>
    <p>
        <input onclick="history.back();" class="btnclass" value="Вернуться назад" type="button">
    </p>
</form>
<div style=" position: absolute; bottom: 0; right: 0;"class="container">
            &copy; 2022 - Shace - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>
</body> 