@{
    ViewBag.Title = "Create";
}

<style>
    .btnclass{
        border: 0;
        background: #ffffff;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 1px solid darkgrey;
        padding: 10px 5px;
        width: 200px;
        outline: none;
        color: black;
        border-radius: 0px;
        transition: 0.25s;
        text-decoration-color: white;
    }
    body{
        background-color: #eef4fd
    }
</style>

<body>
 <form asp-action="Create" asp-controller="Home" method="post" enctype="multipart/form-data">
    <p>
        <label>Описание</label>
        <input name="Description" class="form-control" />
    </p>
    <p>
        <label>Местоположение</label>
        <input name="Location" class="form-control" />
    </p>
    <p>
        <label>Изображение</label>
        <input type="file" name="image" accept="image/*,video/*" class="form-control" />
    </p>
    <p>
        <input type="submit" value="Добавить" class="btnclass" />
    </p>
    <p>
        <a href="~/Home/Index" class="btnclass">Вернуться в ленту</a>
    </p>
</form>
</body> 