/*Авторизация*/

body {
    background-color: #cce4ff;
    font-family: sans-serif;
}

.Hello {
    width: 700px;
    padding: 40px;
    text-decoration-color: rgba(250, 250, 250, 1);
    position:center;
    margin-left:50%;
    margin-right:50%;
    transform: translate(-50%,-50%);
    background-color: white; /* рамочка*/
    text-align: center;
    border-radius: 0px;
    outline: 1px solid lightgray;
}


.btnclass {
    display: block;
    text-align: center;
    border: 1px solid darkgrey;
    padding: 1px 5px;
    color: black;
    border-radius: 2px;
    transition: 0.25s;
    text-decoration-color: white;
}

    .btnclass:hover {
        color: white;
        background: lightgray;
    }